*.o
*.txt
/triangleCalculator
/.vscode

virtual_inheritance/.vscode/settings.json
virtual_inheritance/.xdp-.goutputstream-62QSD2-K1j0Vy
virtual_inheritance/.xdp-.goutputstream-ZRH0D2-RSpCc0
virtual_inheritance/bat

*.png
